
.icon-cloud:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-tags:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-list:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-chart-bar:before { content: '\e808'; } /* '' */
.icon-arrows-cw:before { content: '\e809'; } /* '' */
.icon-fire:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */