@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?54272870');
  src: url('fonts/fontello.eot?54272870#iefix') format('embedded-opentype'),
  url('fonts/fontello.woff2?54272870') format('woff2'),
  url('fonts/fontello.woff?54272870') format('woff'),
  url('fonts/fontello.ttf?54272870') format('truetype'),
  url('fonts/fontello.svg?54272870#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}